.fixed-bottom {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(116, 146, 81));
}

.fixed-top {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(116, 146, 81));
}


.nav {
  font-size: 25px;
  
}
.link {
  margin-right:5%;
}
.search{
  margin-right:5%;
}
.home{
  /* margin-right:45%; */
  position: absolute; left: 0;
}
.log{
  position: absolute; right: 0;
}

a{
  color: rgb(172, 166, 102);
}

/* Mobile screen */
@media screen and (max-width: 426px) {

	.nav{
    width:100%;
    font-size:25px;
	}
  body { 
    /* background-attachment: fixed;  */
   /* background-size: cover; */
   display: grid;
   align-items: center; 
   /* justify-content: center; */
   /* height: 20vh;  */

  }	


}